/* Thêm style tùy chỉnh nếu cần */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

/* Phần Header */
header {
    position: relative;
    text-align: center;
   
  }
  .header-bg {
    position: relative;
    min-height: 500px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Điều chỉnh màu overlay tối ở đây */
    z-index: -1; /* Đưa overlay xuống phía dưới các phần tử khác */
  }
  
  .avatar-container {
    position: relative;
    top: 150px;
    overflow: hidden;
    border-radius: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .header-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Đưa background xuống phía dưới các phần tử khác */
  }
  
  .avatar-container {
    position: relative;
    top: 150px;
    overflow: hidden;
    border-radius: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  /* Nội dung trang cá nhân */
  .header-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 310px 0 ; /* Điều chỉnh khoảng cách từ trên xuống */
    color: #091E05;
  }
  .header-content h1 {
    font-size: 2.9em;
    margin-bottom: 20px;
    color: #D0F4EA; 
  }
  
  .header-content p {
    font-size: 1.8em;
    margin-bottom: 40px;
    color: #D0F4EA; 
  }
  

/* Phần Nội dung chính */
section {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
}

section h2 {
  color: #545677;
}

section p {
  font-size: 1.1em;
}

/* Phần Kinh Nghiệm */
section ul {
  list-style: none;
  padding-left: 0;
}

section ul li {
  padding: 10px 0;
}

section ul li:before {
  content: '\2022';
  color: #545677;
  font-size: 1.5em;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Phần Footer */
footer {
  background-color: #343a40;
  color: white;
}

/* Biểu tượng mạng xã hội trong phần Footer */
footer i {
  font-size: 24px;
  margin-right: 10px;
}

/* Biểu tượng Facebook và Instagram */
footer .fab {
  font-size: 36px;
}

/* Responsive styles */
@media (max-width: 767px) {
  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }

  header img {
    width: 80px;
  }

  section h2 {
    font-size: 1.5em;
  }

  section p {
    font-size: 1em;
  }

  section ul li {
    font-size: 0.9em;
  }

  footer i {
    font-size: 20px;
  }
}
