body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    background-image: url(images/b1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Định dạng hình ảnh trong Header */
header .image-container img {
    width: 100%; /* 100% chiều rộng của phần cha (header) */
    height: auto; /* Chiều cao tự động để giữ nguyên tỷ lệ khung hình */
    max-width: 700px; /* Giới hạn chiều rộng tối đa để tránh ảnh quá lớn */
    display: block; /* Loại bỏ khoảng trắng dưới ảnh khi nó được hiển thị dưới dạng inline */
    margin: 0 auto; /* Canh giữa hình ảnh trong header */
}

/* You can add more styles for other sections as needed */

.section1 {
    position: relative;
    background-image: url(images/c1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
}

/* Overlay */
.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu overlay và độ đục (0.5 là 50%) */
}

/* Văn bản lên trên overlay */
.section1 p {
    position: relative;
    z-index: 1; /* Đặt văn bản lên trên overlay */
}

.section1 p {
    font-size: 1.4em; /* Thay đổi kích thước của đoạn văn bản p */
}


/* Menu Section */
.menu-section {
    padding: 50px 0;
    text-align: center;
}

.menu-item {
    margin-bottom: 30px;
}

.menu-item img {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}


.menu-item h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.menu-item p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.menu-item .price {
    font-weight: bold;
    font-size: 1.2em;
    color: #E4572E;
}

/* Phần Footer */
  footer {
    background-color: #343a40;
    color: white;
    margin-top: 20px;
    padding: 10px 0;
  }
  
  /* Biểu tượng mạng xã hội trong phần Footer */
  footer i {
    font-size: 36px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-icons a:hover i {
    color: #007bff;
  }